src/main/mule/zmsd-weather-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="d8bc9eb7-b1ca-46d4-9c50-31b28b9e5808" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="48541ed2-b7d4-45fb-9883-e27a7817a4af" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="zmsd-weather-apiFlow" doc:id="e2068664-ca6a-4486-adff-7769538393f7" >
		<http:listener doc:name="Listener" doc:id="b67eeb51-c704-477d-adf7-1047ad746bf6" path="/zmsdweather" config-ref="HTTP_Listener_config"/>
		<http:request method="GET" doc:name="Request" doc:id="5546a6b3-057e-4292-86f3-8af2d683cb76" config-ref="HTTP_Request_configuration" url="http://api.openweathermap.org/data/2.5/weather">
			<http:query-params ><![CDATA[#[output application/java
---
{
	"appid" : "ee2e7bf935eb2f6a20540196a7be8580",
	"q" : "Bangalore"
}]]]></http:query-params>
		</http:request>
		<ee:transform doc:name="Transform Message" doc:id="bab70578-0731-42fe-a2d3-aa8ae0c9c4bf" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
